@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
/* font-family: 'Noto Sans', sans-serif; TIPOGRAFÍA: RALEWAY */
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400&display=swap');
/*font-family: 'Oswald', sans-serif; 2 TIPOGRAFÍAS de OSWALD REGULAR Y LIGHT  */

*{
    padding: 0; /* espacio entre el contenido y el contenedor*/
    margin: 0; /* establece el margen para los cuatro lados*/
}




.menuNav{
    width: 100%;
    background-color: navy;
    display: flex; /*sirve para que el contenido se pueda acomodar o estirar y por defecto en row (en fila) */
    justify-content: space-evenly; /*deja un espacio entre cada items (ver en pag css-tricks.com)*/
    align-items: center; /*lo centra pero verticalmente (ver en pag css-tricks.com)*/
    
}

.botonesNav{
    display: flex;
    flex-grow: 2;/*hace que se estire el item (ver en pag css-tricks.com)*/
    justify-content: center; /*lo que esté en el medio lo va a centrar, lo deja si o si en el medio)*/
    list-style: none; /*elimina los puntos (bullets) de la lista */
    padding: 2%;
}

.botonesNav li{
    margin: 2%;
}

.botonesNav a{
    text-decoration: none; /*elimina el subrayado de los links*/
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
}

/* Contenedor de imagen 
A este contenedor siempre generalmente le ponemos un width y height */
.logos {
    width: 10%;
    height: 10%;
    padding-left: 5%;

}

/* Ctrl k C para hacer comentarios. 
A las imágenes ponerle siempre un widht de 100% y height auto para que se ajusten a la página. 
El TAMAÑO SE LE CAMBIA EN EN EL CONTENEDOR (ej: .logos) */
.logos img {
    width: 100%;
    height: auto;
}

.logo2{
    padding-right: 5%;
}

.section{
    
    width: 100%;
    
}

.footer{
    background-color: navy;
    width: 100%; 
     
   
}


